<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <appSettings>
    <!--公司企业号CorpId-->
    <add key="WeChatCorpID" value="wx4f0e5e787888e"/>
    <!--公司企业号Secret-->
    <add key="WeChatSecret" value="vqD1D9dQYq2VEkbFHDNNmacL90THqAXh3fVH2t"/>
    <!--企业支付Secret-->
    <add key="PaymentSecret" value="SOgI3b3nK9UrVUX885qTTskh-0LDWOfsmdf"/>

    <!--商户的API密钥-->
    <add key="APIKey" value="UHMpQkknVcUV66fIXKTz" />
    <!--商户id号-->
    <add key="MCHID" value="1471341234" />
  </appSettings>

</configuration>
